.primary-btn{
  color: white;
  background-color: #ec3e1f;
  padding: 4px 20px;
  border-radius: 16px;
  border: 1px solid #ec3e1f;
}

.cooking-primary{
  color: #ec3e1f;
}

.border{
border: #ec3e1f;
}


.btn-annmi {
  padding: 10px 12px;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  background: linear-gradient(-45deg, #d4482f, #ec3e1f);
  background-size: 600%;
  animation: anime 8s linear infinite;
  border: none;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
