.primary-btn{
  color: white;
  background-color: #ec3e1f;
  padding: 4px 20px;
  border-radius: 16px;
  border: 1px solid #ec3e1f;
}

.cooking-secondary-btn{
  color: rgb(0, 0, 0);
  background-color: #ebd705;
  padding: 8px 20px;
  border-radius: 22px;
  border: 1px solid #ebd705;
}

.cooking-primary{
  color: #ec3e1f;
}



.border{
border: #ec3e1f;
}


.btn-annmi {
  padding: 10px 12px;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  background: linear-gradient(-45deg, #d4482f, #ec3e1f);
  background-size: 600%;
  animation: anime 8s linear infinite;
  border: none;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.custom-input{
  border-radius: 18px;
  border: 2px solid white;
  padding: 6px 15px;
  width: 700px;
  background-color: #d63012;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

.like-btn{
  color: rgba(255, 255, 255, 0);
  border: none;
}

.heart-btn{
  color: #d4482f;
  transition-duration: 400ms;
  
}


.login-page{
  margin: 0px auto;
  width: 30% !important;
  padding: 3% 10%;

}


@media (max-width: 700px) {
  .login-page{
    width: 80% !important;
    margin-top: 10%;
  
  }
}
