.active{
    position: relative;
    opacity: 0.9;
}


.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #c1331a 0%, #ec3e1f 100%);
    transition: all 0.45s;
    width: 100%;
}

.non-active::before{
    color: #ec3e1f;
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #b6270e 0%, #fa4525 100%);
    transition: all 0.45s;
}

.non-active:hover{
    color: #ec3e1f;
}

.non-active:hover::before{
    width: 100%;
}
